* {
}

body {
    width: 500px;
    margin: 0px;
    padding: 0px;
}

.disable {
    display: none;
}

.toolbar {
    position: fixed;
    right: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background: #eeeeee;
}

.result {
    margin: 10px;
    width: 100%;
    text-align: left;
}

.resultImg {
    margin: 10px;
    width: 100%;
    text-align: left;
    margin-top: 50px;
}

.resultImg > img {
    margin: 10px 0 0 0;
    border: 5px solid darkgray;
}

